:root {
  --first-color: #212121;
  --second-color: #757575;
  --third-color: #2196f3;
  --icon-backdround: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--first-color);
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo,
.dark-team,
.white-team,
.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  text-decoration: none;
}

.logo {
  padding: 24px 0;
  color: var(--third-color);
}

.logo-footer {
  color: var(--third-color);
}

.dark-team {
  color: var(--first-color);
}

.white-team {
  color: #ffffff;
}

.navigation-link-studio,
.navigation-link-portfolio,
.navigation-link,
.contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation-link-studio,
.navigation-link-portfolio {
  color: var(--third-color);
}

.navigation-link {
  color: var(--first-color);
}

.contact-link {
  color: var(--second-color);
}
.contact-item-adress:focus,
.contact-link-footer:focus,
.contact-item-adress:hover,
.contact-link-footer:hover,
.navigation-link:focus,
.navigation-link:hover,
.contact-link:focus,
.contact-link:hover {
  color: var(--third-color);
}

.heading-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.button-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 29px;
  display: block;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: var(--third-color);
}

.peculiarities-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--first-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--first-color);
}

.peculiarities-text,
.team-text,
.portfolio-text {
  color: var(--second-color);
}

.peculiarities-text {
  line-height: 1.71;
  max-width: 270px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.section-contacts {
  background-color: #2f303a;
}

.address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  margin-top: 20px;
}

.contact-item-adress {
  color: #fff;
}

.contact-link-footer {
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.social-heading-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  margin: 0;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  color: var(--first-color);
  background: #f5f4fa;
}

.button:hover,
.button:focus {
  background-color: var(--third-color);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: flex;
}
.portfolio-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Болоки*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.container-header {
  display: flex;
  align-items: center;
}

.navigation {
  margin-left: 93px;
}

.navigation-list {
  display: flex;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.section-hero {
  background-color: #c4c4c4;
  padding: 200px 0;
}

.peculiarities-list {
  display: flex;
}

.peculiarities-item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities-title {
  box-sizing: content-box;
  margin-bottom: 10px;
}

.section-job {
  padding-top: 0;
}

.job-list {
  margin-top: 50px;
  display: flex;
}

.job-item:not(:last-child) {
  margin-right: 30px;
}

.section-team {
  background: #f5f4fa;
}

.job-heading,
.team-heading,
.clients-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin: 0;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.clients-list {
  display: flex;
}

.team-title {
  margin-bottom: 10px;
}
.tumba {
  padding: 30px 0;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  text-align: center;
}

footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.contact-item-footer:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  display: block;
}

.button-list {
  justify-content: center;
}

.button-item:not(:last-child) {
  margin-right: 10px;
}

.portfolio-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.portfolio-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.tumba-portfolio {
  margin-top: -5px;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background: #ffffff;
}

.hero-bunner {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-baner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*Спрайты*/

.peculiarities-thumb {
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--icon-backdround);
}

.peculiarities-icon {
  width: 70px;
  height: 70px;
}

.team-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.button-icons {
  padding: 0;
  border: none;
  background-color: #fff;
  align-items: center;
}

.team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--third-color);
}

.team-social-link:hover .icon,
.team-social-link:focus .icon {
  fill: #fff;
}

.button-icons:not(:last-child) {
  margin-right: 10px;
}

.icon,
.clients-icon {
  fill: #afb1b8;
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.clients-item {
  padding: 0;
  border-radius: 4%;
  align-items: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-social-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4%;
}

.clients-social-link:hover,
.clients-social-link:focus {
  border-color: var(--third-color);
}

.clients-social-link:hover .clients-icon,
.clients-social-link:focus .clients-icon {
  fill: var(--third-color);
}

.contact-link {
  display: flex;
  align-items: center;
}
.contact-item {
  padding: 0;
}
.icon-contacts {
  margin-right: 10px;
  fill: var(--second-color);
}

.contact-link:hover .icon-contacts,
.contact-link:focus .icon-contacts {
  fill: var(--third-color);
}

.container-footer {
  display: flex;
  align-items: center;
}

.footer-social {
  margin-left: 70px;
}

.footer-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-socials-item {
  padding: 0;
  align-items: center;
  border-radius: 50%;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 10%),
    rgba(255, 255, 255, 10%)
  );
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-image: linear-gradient(
    to left,
    var(--third-color),
    var(--third-color)
  );
}

.footer-socials-item:not(last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.footer-icon {
  fill: #fff;
}

.portfolio-items-hover {
  display: block;
}

.portfolio-items-hover:hover,
.portfolio-items-hover:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
